:root {
  --main-color: rgb(19, 127, 250);
  --secondary-color: rgba(98, 200, 247, 0.5);
  --main-color-hover: rgba(14, 232, 244, 0.5);
  --secondary-color-hover: rgba(98, 200, 247, 1);
  --background-color: rgb(223, 223, 223);
  --background-color-nav: rgba(223, 223, 223, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}
h1 {
  margin: 0 1em 1em 1em;
}
LINK h1,
li {
  text-transform: uppercase;
}
ul {
  text-align: center;
  justify-content: center;
}
li {
  display: inline-block;
  list-style: none;
}
a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.2em;
}

.section {
  padding: 4em 10em;
  transition: transform 1s, opacity 1s;
  min-height: 80vh;
}
/* Header style: */

.nav-header {
  margin-bottom: 1em;
  height: 5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-nav);
  z-index: 100;
}
.link {
  margin: 0 1.6em;
}

.learn-more a:hover,
.link-hover:hover {
  color: var(--secondary-color-hover);
}

.open-account {
  margin: 0 4em;
}
.btn-open-account {
  font-size: 1em;
  border-radius: 1em;
  height: 3em;
  width: 10em;
  background-color: var(--main-color);
  color: var(--background-color);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary-color-hover);
  color: var(--main-color);
}
.main-page-div {
  padding: 5em 10em 1em 10em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}
.header-main-msg {
  margin: 4em;
  text-align: center;
}
.header-main-msg p {
  margin: 1em;
}
.learn-more {
  margin-top: 2em;
}
.header-main-img img {
  max-height: 10em;
  flex-basis: 15em;
  margin-bottom: 10em;
}
.btn {
  font-size: 1em;
  border-radius: 1em;
  height: 2em;
  width: 10em;
  background-color: var(--main-color);
  color: var(--background-color);
  cursor: pointer;
}
.hidden {
  display: none;
  opacity: 0;
}
/* Section 1 */
#section-1 {
  display: grid;
}
.slider {
  max-width: 100rem;
  height: 50rem;
  position: relative;
  height: 20em;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;

  text-align: center;
}
.section-title {
  margin: 1.6em;
}
.section-1-title {
  margin-bottom: 0;
}
.section-title h1 {
  margin: 1em 1em 0 1em;
  text-align: center;
}
.section-title h2 {
  margin: 1em;
  text-align: center;
}

.slider-btn {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  align-items: center;
  justify-content: center;
}
.slider-btn-right {
  right: 43%;
  transform: translate(50%, -50%);
}
.slider-btn-left {
  left: 43%;
  transform: translate(-50%, -50%);
}
/*  section 2 */

.section-2-img {
  max-height: 13em;
}

.section-2-div h3 {
  text-align: center;
  height: 2em;
}
.section-2 {
  display: flex;
  flex-direction: column;
}
.section-2 .content-container {
  margin: 1em;
}
.image-container {
  align-items: stretch;
  justify-content: center;
  display: flex;
}
.section-2-div-line {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2-div {
  margin: 1em;
}

.cookie-message {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  color: #bbb;
  font-size: 1.5rem;
  font-weight: 400;
}
/* Lending section */
.sec #section-3 {
  padding: 0;
}
.lending-tabs-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lending-tab-btn {
  margin: 1em;
  padding: 0.4em;
  height: 2em;
  width: 20em;
  text-align: center;
}
.lending-tab-btn-active {
  transform: translateY(-18%);
}

.lending-description {
  display: none;
  margin: 2em;
  padding: 0 2em 2em 2em;
  align-items: center;
  text-align: center;
}
.lending-description-active {
  display: grid;

  column-gap: 3rem;
  row-gap: 0.5rem;
}
.section-title h3 {
  text-align: center;
  margin: 2.5em;
}
.lending-description h4 {
  text-align: center;
}
.lending-description p {
  text-align: center;
  padding: 2em;
  margin-bottom: 1em;
  font-weight: 400;
  font-size: 1.4em;
}
.lending-description button {
  margin: 0 auto;
}

/* faq section */
.questions {
  align-items: right;
  text-align: right;
  padding: 1em;
  text-decoration: dotted;
  border-left: 1px solid;
  border-bottom: 1px solid;
  margin-top: 1em;
}
.questions ul {
  text-decoration: dotted;
}
/* footer */
footer {
  border-top: 1px solid rgb(203, 189, 189);
  padding: 5em 5em 2em 5em;
  background-color: #ccc;
}
.li-a:hover,
.link:hover {
  color: var(--main-color-hover);
}
.footer-li-link {
  padding: 1em;

  margin: 1em;
}
footer p {
  margin: 1em;
  text-align: center;
}
.sticky {
  position: fixed;
}
